* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.contenedor {
    background-color: white;
    width: 350px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 25px;
}

.descripcion {
    color: #666;
    margin-bottom: 10px;
}

.monto {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 25px;
}

button {
    width: 100%;
    padding: 12px;

    border: none;
    border-radius: 6px;

    background-color: #007bff;
    color: white;

    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}